footer
	background: #083e64
	color: #fff
	.col-sm-6
		line-height: 3rem
		display: flex
		// justify-content: center
		align-items: center
		p
			margin-bottom: 0
	.team_social_icon
		padding-bottom: 1rem
		ul
			margin-bottom: 0
			line-height: 2rem
			li
				a
					display: flex
					justify-content: center
					align-items: center
					text-align: center
					display: block
					height: 2rem
					line-height: 2rem
					border-radius: 50%
					background: #ffffff
					width: 2rem
					transition: .3s all ease-in-out
				&:hover,
				&:active
					a
						background: #000000
						color: #ffffff
		+media-breakpoint-up(sm)
			justify-content: flex-end
			padding-bottom: 0
+media-breakpoint-down(sm)
	.col-sm-6
		justify-content: center
	// .team_social_icon
	// 	padding-bottom: 1rem
