extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home-nay
		.item
			.title
				i.fa.fa-home
				|
				| HEHE s 01
			.body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio alias quas tempore sunt atque, illum exercitationem odit, quasi nisi, porro a! Non voluptatem quidem nostrum ipsam ad esse debitis asperiores.
		//- 02
		.item
			.title
				i.fa.fa-home
				|
				| fdsaffdsfd 02
			.body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio alias quas tempore sunt atque,
		//- 03
		.item
			.title
				i.fa.fa-home
				|
				| fwfaefefawe 03
			.body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio alias quas tempore sunt atque,
		
		.item
			.title
				i.fa.fa-home
				|
				| fwfaefefawe 04
			.body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio alias quas tempore sunt atque,

